@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



/*Body*/
body{

    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}


.bloc_page{
    
    display: block;
   overflow: hidden;
   
}




.animationZ{
    position: absolute;
    display: block;
    background-color:rgb(255, 255, 255);
    z-index: 100;
    width: 100%;
    height: 400%;
    animation: transitionIn 2s linear ;
    -webkit-animation: transitionIn 2s linear ;
    animation-fill-mode: forwards;
}


.animationZ .fas{
   display: flex;
   justify-content: center;
   align-items: center;
   top: 10%;
   position: relative;
   background-image: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;

}


/*Animation fade in*/
@keyframes transitionIn{
    
    0%{
        opacity: 1;
        
        background-color:rgb(255, 255, 255);
}

    80%{
        opacity: 1;
       
     
}

90%{
    opacity: 0;
   
    height: 400%;
}

    100%{
        opacity: 0;
        
        height: 0;
}

}





/* Section heander logo du site*/
header{
    background-color: #ffffff;
    box-shadow: rgb(199, 199, 199) 0px 5px 10px 0px;
    width: 100%;
    height: auto;
    position: relative;
        @include FlexCenter;
}
        header img{
        width: 150px;
        padding-top: 20px;
        padding-bottom:15px ;
        margin-left:0px ;
        font-weight: 700

        }    
  

/*box1 = section localisation*/

.box1{
    background-color:#EAEAEA;
    padding: 10px;
    margin-top: 0px;
    height: 40px;
    @include FlexCenter;
}
    
    .box1 .fas{
        position: relative;
        float: left;
        right:30px ;
        font-size: 20px;
        
    }
    .box1 p{
    color: black;
    padding: 10px;
    top: 0px;
    font-size: 20px;
    }


/*box2 = section explorer, contien le bouton Explorer nos restaurants*/
.box2{
    background-color: #F6F6F6;
    height: 40vh;
    padding-top: 0px;
        @include FlexCenter;
   
}
    
    .box2 h1{
        color: black;
        font-weight: 700;
        padding-bottom: 0px;
        margin-top: 0px;
        font-size: 140%;
        width: 70%;
    }

    .box2 p{
        color: rgb(110, 110, 110);
        margin-top: 0px;
        padding: 0px;
        width: 90%;
    }

    .box2 #bouton-explorer{
        
        text-decoration: none;
        color: #ffffff;
        padding: 15px 15px;
        border-radius: 30px;
        width: 200px;
        box-shadow: rgb(170, 170, 170) 0px 5px 5px 0px;
        background-image: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
    }
    #bouton-explorer:hover {

        background-image: linear-gradient(to top, rgba(146, 86, 220, 0.829),rgba(255, 122, 217, 0.829));
    
    }
/*box3 = Section fontion, contien toutes les 3 fonction du site*/
.box3{
    background-color: #ffffff;
   padding-bottom:15px ;
   
    width: 100%;
    flex-direction: row;
    @include FlexCenter;
}
.titre-box3{
    margin-left: 2%;

}

.conteneur-title-box3{
    margin-top: 20px;
    padding-bottom:20px ;
     padding-left: 5%;
     height: 20px;
     background-color: #ffffff;
 }
    .box3 .box3E{
        @include FlexCenter;
        margin-top: 10px;
        border-radius: 25px;
        width: 300px;
        height: 70px;
        padding: 0px;
        margin: 15px;
        left: 5px;
        /*overflow: hidden;*/
        box-shadow: rgb(224, 224, 224) 0px 5px 5px 0px;
        background-color: #f7f7f7;
        position: relative;
    }

    .box3E a{
        text-decoration: none;
        color: #000000;
        height: 100%;
        width: 75%;
        border-radius: 20px;
        padding: 30px;
        left:10px ;
        text-align:  center;
        font-size: 14px;
        font-weight: 700;
        overflow: hidden;
        position: relative;
    }
    .box3E:hover {
        background-color: #9256dc21;
      
    }

    .box3E #fasmobile{
        position: absolute;
        left: 30px;
        color: #808080;
        font-size: 19px;
        align-items: center;
    }

    .box3E:hover #fasmobile{
        color: #9356DC;
    }
    
    .box3E .faslarge{
        position: absolute ;
        left: 30px;
        color: #808080;
        font-size: 19px;
    }

    .box3E:hover .faslarge{
        color: #9356DC;
    }

    .numero_de_liste{
        position: absolute;
        left:-12px;
        color: #ffffff;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: #9356DC;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        top : calc(50% - 12px);
        line-height: 24px;
        margin: 0;
}

/*box4 section plats; ils contiens les differents plats*/
#sectionbox4{
    background-color:  #F6F6F6;
    padding-top: 5px;
}
.box4{
    
    width: 88%;
    background-color: #F6F6F6;
        /*@include FlexCenter()*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 6%;
        
}


.title-box4{
   
    padding-left: 7%;
}

.box4 .titre_restaurants{
    
    right: 23%;
    position: relative;
}
.box4E{
   text-decoration: none;
    background-color: #ffffff;
    width: 100%;
    
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: rgb(224, 224, 224) 5px 5px 5px  ;
    overflow: hidden;
    position: relative;
}
    .box4E figure{
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-bottom:5px ;
        

    }

        .box4E figure div img{
            object-fit: cover;
            width: 100%;
            height: 165px;
            
        }

        .box4E figure .nouveau{
            float: right;
            right: 5%;
            text-align: center;
            background-color:#99E2D0;
            color: #33977e;
            border-radius: 2px;
            box-shadow: rgb(37, 36, 36) 2px 2px 2px  ;
            width: 80px;
            height: 25px;
            padding-top: 10px;
            position: relative;
            bottom: 170px;
            font-size: 14px;
        }
        .box4E figcaption{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
    color: black;
    height: auto;
    
        }
        .box4E figcaption h2{
        font-size: 120%;
        padding-top: 8px;
        margin-bottom: 5px;
        margin-top: 0px;
        }
        .box4E figcaption p{
        color: #000000;
        margin-top: 0px;
        font-size: 14px;
        }

        .box4 a{
            text-decoration: none;
        }

        .box4 .BoxIcone{
            right: 25px;
            position: absolute;
            bottom: 25px;
        }
        .box4 .far{
        
        width: auto;
        height: auto;
        color: rgb(83, 83, 83);
        position: relative;
        
        font-size: 24px;
       
        }

        /*fas -------------------*/
    
                
        .box4 .BoxIcone .fas {
            display: none;
        }
        .box4 .BoxIcone:hover .fas {
            display: block;
        }
        .box4 .BoxIcone .far {
            display: block;
        }
        .box4 .BoxIcone:hover .far {
            display: none;
        }

        .box4 .fas{
       
            
            
            width: auto;
            height: auto;
            position: relative;
            
            font-size: 24px;
/* ici j'ai creer un dégradé en utilisent le (-webkit-background-clip: text;)*/
            background: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
            
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
           
            }



/*ci-desous le footer du site----------------------------*/
footer{
    background-color: #353535;
    padding: 20px;
}

    footer img{
        width: 130px;
        padding: 0px;
        margin-left:0px ;
        
    }
    footer a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: white;
            position: relative;
            font-family: "roboto";
 }
    footer a:hover{
            text-decoration: underline;
              
          }
          
    footer a .fas {
            width: 30px;
            position: relative;
          }

/* ----------------------écean tablete @ media tabletes----------------------------------*/

@media screen and ( min-width : 414.5px ){
    .bloc_page{
        width: 100%;
    }


    .titre-box3{
        margin-left: 2%;
    }


    .conteneur-title-box3{
       padding-top:20px ;
        padding-left: 5%;
        background-color: #ffffff;
    }


    .box4 .titre_restaurants{
       left: 30px;
        position: absolute;
        bottom: 30px;
    }

    .box4{
       
        padding-top: 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }

/*---------Ici les regles pour le footer en mode tablete */    
    footer{ text-align: center; }
    footer img{
        width: 200px;
        padding: 0px;
        margin-left:0px ;
        
    }

    }

    @media screen and ( min-width : 400px ){

        .conteneur-title-box3{
            padding-bottom:30px;
             padding-left: 5%;
             background-color: #ffffff;
         }
    }

    @media screen and ( min-width : 800px ){
        .bloc_page{
            width: 100%;
        }

        .titre-box3{
            margin-left: 2%;
        }

        .conteneur-title-box3{
            padding-top:20px ;
             padding-left: 5%;
             background-color: #ffffff;
         }


        .titre_restaurants{
            display: flex;
            bottom: 150px;
            left: 50px;
        }

        .box4{
            flex-direction: row;
            justify-content: space-evenly;
            padding:0px ;
            margin: 0px;
            height: 65ch;
            width: 100%;

        }
        .box4E{
            position: relative;
            text-decoration: none;
             background-color: #ffffff;
             width: 300px;
             height: 230px;
             margin-top: 0px;
             margin-right: 0px;
             margin: 0px;
             border-radius: 20px;
             box-shadow: rgb(224, 224, 224) 5px 5px 5px  ;
             overflow: hidden;
         }
             .box4E figure{
                 width: 100%;
                 height: 70%;
                 padding: 0px;
                 margin: 0px;
                 padding-bottom:5px ;
         
             }
  


        /*---------Ici les regles pour le footer en mode pc */
        footer{ 
            display: flex;
            text-align: center; 
            justify-content: center;
            flex-direction: row;
            height: 80px;
        }

        footer img{
            position: absolute;
            float: left;
            margin-top:0px ;
            width: 130px;
            height: 20px;
            padding: 0px;
        }

        footer a{
            top: 30px;
            margin-left: 40px;
        }
    
        }


    @media screen and ( min-width : 1201px ){
        .bloc_page{
            width: 100%;
        }



.box3{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    justify-content: space-evenly;
}
        .box3E a{
            width: 75%;
            border-radius: 20px;
           
        }

        .titre-box3{
            margin-left: 2%;
        }

        .conteneur-title-box3{
            padding-top:20px ;
             padding-left: 5%;
             background-color: #ffffff;
         }

        .titre_restaurants{
            display: flex;
            bottom: 150px;
            left: 50px;
        }

        .box4{
            flex-direction: row;
            justify-content: space-evenly;
            padding:0px ;
            margin: 0px;
            height: 34ch;
            width: 100%;

        }
        .box4E{
            position: relative;
            text-decoration: none;
             background-color: #ffffff;
             width: 300px;
             height: 230px;
             margin-top: 0px;
             margin-right: 0px;
             margin: 0px;
             border-radius: 20px;
             box-shadow: rgb(224, 224, 224) 5px 5px 5px  ;
             overflow: hidden;
         }
             .box4E figure{
                 width: 100%;
                 height: 70%;
                 padding: 0px;
                 margin: 0px;
                 padding-bottom:5px ;
         
             }

      
        /*---------Ici les regles pour le footer en mode pc */
        footer{ 
            display: flex;
            text-align: center; 
            justify-content: center;
            flex-direction: row;
            height: 80px;
        }

        footer img{
            position: absolute;
            float: left;
            margin-top:0px ;
            width: 130px;
            height: 20px;
            padding: 0px;
        }

        footer a{
            top: 30px;
            margin-left: 40px;
        }
    
        }
        