@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    
}


/* Ici le header---------------------------------------------------*/


/* Section heander logo du site*/
header{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 5px 10px 0px;
    width: 100%;
    height: auto;
    position: relative;
    @include FlexCenter()
}
        header img{
        width: 150px;
        padding-top: 20px;
        padding-bottom:15px ;
        margin-left:0px ;
        font-weight: 700;

        }    
  
        header a .fas{
            
            color: #353535;
            font-size: 130%;
            font-weight: 700;
            position: absolute;
            float: left;
            right: 90%;
            bottom: 35%;

        }

/*ici ma div entete------------------------------------------------*/

.entete-img{
    position: absolute;
   object-fit: contain;
    width: 100%;
    height: auto;
    
}

/*ici l'image d'entete---------------------*/

.entete-img img{
  
    width: 100%;
   
    
    
}


/*Loader ici ----------------------------------------*/
.animationZ{
    position: absolute;
    display: block;
    background-color:rgb(255, 255, 255);
    z-index: 100;
    width: 100%;
    height: 400%;
    animation: transitionIn 0.3s linear ;
    -webkit-animation: transitionIn 1.2s linear ;
    animation-fill-mode: forwards;
}


/*Animation fade in ----------------------------*/
@keyframes transitionIn{
    
    0%{
        opacity: 1;
        
        background-color:rgb(255, 255, 255);
}

    80%{
        opacity: 1;
       
     
}

90%{
    opacity: 0.5;
   
    height: 400%;
}

    100%{
        opacity: 0;
        
        height: 0;
}

}


/*Ici la section contenant touts les articles--------------------------------------*/

.BoxConteneur{
   box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 0px 0px;
   background-color: #F5F5F5;
   position: relative;
   width: 100%;
   margin-top: 40%;
   padding-top: 20px;
   padding-bottom: 100px;
   border-top: 60px;
   overflow: hidden;
   border-radius:50px 50px 0px 0px;
   -webkit-border-radius:50px 50px 0px 0px;
   -moz-border-radius:50px 50px 0px 0px;
   -ms-border-radius:50px 50px 0px 0px;
   -o-border-radius:50px 50px 0px 0px;


}   



/* titre fas et far j'aime -------------------*/
.StyleDeNouriture{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0%;
    width: 100%;
    height: 50px;
    
}

h1{
    font-family: 'Shrikhand';
    font-size: 130%;
    padding-left: 30px;
}


.BoxIcone{
    position: absolute;
    top: 3%;
    left: 83%;
}

@keyframes transitionFas{
    
    0%{
        color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width:2px ;
    background-clip: text;
        width: 0%;
        
}

    30%{
        color: rgb(255, 7, 172);
        -webkit-text-stroke-width:2px ;
        background-clip: text;
       width: 20%;
   
}
50%{
    color: rgb(255, 7, 172);
    -webkit-text-stroke-width:2px ;
    background-clip: text;
   width: 50%;
  
}
80%{
    color: rgb(255, 7, 172);
    -webkit-text-stroke-width:2px ;
    background-clip: text;
   height: 0%;
   width: 75%;

}
95%{
    background: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
   
    background-clip: text;
    height: 0%;
    width: 90%;
    
}

    100%{
        background: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 1s ease-in;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
   
    background-clip: text;
        height: 100% ;
        width: 100%;
        
}

}
        

.BoxConteneur .StyleDeNouriture .BoxIcone:hover .fas {
    background: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-text-stroke-width:0px;
    animation: transitionFas 1.1s linear ;
    -webkit-animation: transitionFas 1.1s linear ;
    animation-fill-mode: forwards;
    
}

.BoxConteneur .StyleDeNouriture .fas{

    width: auto;
    height: auto;
   
    font-size: 24px;
/* ici j'ai creer un dégradé en utilisent le (-webkit-background-clip: text;)*/
-webkit-text-stroke-width:2px ;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;

   
    }


/*conteneur des plats--------------------------*/

.conteneurDetaillesPlats{

    display: block;
    position: relative;
    bottom: 10px;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

.GenresDePlats{
   width: 88%;
   margin: 0 6%;
     display: flex;
     flex-direction: column;
     justify-content: center;
    
}
.TypeeDePlats{
    text-transform: uppercase;
    font-family: "roboto";
    margin: 10px;
    padding-bottom:5px ;
    font-size: 15px;
/* Ici pour le soulignement, je me suis servi du background "linear-gradient" et le width pour la taille du soulignement*/
    background: linear-gradient(to top, rgb(153, 226, 208)0%, rgb(153, 226, 208) 2px, transparent 5px);
    width: 35px;
}
/* TypeeDePlatsEnfant --------------------*/

.GenresDePlatsEnfant{
    
    font-family: 'roboto';
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    text-align: start;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px 0px 20px;
    width: 96%;
    height: 50px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.11) 2px 2px 3px 3px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    /*transitionX--------------------------*/animation: animate 0.8s ease-in;
    -webkit-animation: animate 1s ease-in;
}

@keyframes animate{

    0%{
        opacity: 0;
       
        transform:translateY(60px);
        -webkit-transform:translateY(60px);
        -moz-transform:translateY(60px);
        -ms-transform:translateY(60px);
        -o-transform:translateY(60px);
}
    

    100%{
        opacity: 1;
        transform:translateY(0px);
        -webkit-transform:translateY(0px);
        -moz-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -o-transform:translateY(0px);
    }
}

.GenresDePlatsEnfant:nth-child(1){
 animation-delay: 100ms;
     
}
.GenresDePlatsEnfant:nth-child(2){
    animation-delay: 200ms;   
    
}
.GenresDePlatsEnfant:nth-child(3){
    animation-delay: 300ms;   
       
}
.GenresDePlatsEnfant:nth-child(4){
    animation-delay: 400ms;   
     
}
.GenresDePlatsEnfant:nth-child(5){
    animation-delay: 500ms;   
     
}

.NomDuPlats{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0%;
    font-weight: 700;
    
}

.DetaillesDuPlats{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 8px 0px 0px 0px;
    width: 100%;
    height: 30px;
    font-size: 70%;
    font-weight: 100;


}
/*Prix des plats-----------------------------*/
.PrixDuPlats{
    position: relative;
    text-align: center;
    display: block;
    margin: 0px 0px 20px 0px;
    padding-top: 30px;
    width: 10%;
    top: 0%;
    font-weight: 100 ;
    background-color: #ffffff;
        width: 50%;
        height: 100%;
}


/* class cocher pour choisir  ---------*/
.GenresDePlatsEnfant .divFasIcon{
    background-color: #99E2D0;
    /*display: none;*/
    width: 40%;
    height: 100%;

    display: block;
    flex-direction: row;
    text-align: center;
    position: absolute;
    left: 80%;
    bottom: 0%;
    transition-property: transform;
    transition-duration: 1s;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

    .GenresDePlatsEnfant .divFasIcon .fas{
        display: inline-flex;
        bottom: 97px;
        left: 25%;
        text-align: center;
        position: relative;
        font-size: 22px;
        color: #ffffff;
        margin: 0%;
        padding: 0%;
        transition: all 0.5s ease-out;
        transform: rotate(-360deg) ;
        -webkit-transform: rotate(-360deg) ;
        -moz-transform: rotate(-360deg) ;
        -ms-transform: rotate(-360deg) ;
        -o-transform: rotate(-360deg) ;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
}

/*Animation hover translat*/

.GenresDePlatsEnfant:hover .conteneurDetaillesPlats{

    width: 55%;
    white-space: nowrap;
    overflow: hidden;

    transition-property: transform;
    transition-duration: 1s;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    
}
  
    .GenresDePlatsEnfant:hover .divFasIcon{
         display: block;
         left: 60%;
         transition: all 0.5s ease-in-out;
         -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
}
.GenresDePlatsEnfant:hover .fas{
    display: block;
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
/* bouton commander-----------------------*/

.bouton{
    margin-top: 20px;
    width: auto;
    display: flex;
    justify-content: center;
}
.BoxConteneur #bouton-commander{
    font-family: "roboto";
    position: relative;
    text-decoration: none;
    color: #ffffff;
    top: 10px;
    padding: 15px 50px;
    border-radius: 30px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.151) 0px 5px 5px 0px;
    background-image: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
     overflow: hidden;
}

#bouton-commander:hover {

    background-image: linear-gradient(to top, rgba(146, 86, 220, 0.829),rgba(255, 122, 217, 0.829));

}

/*ci-desous le footer du site----------------------------*/
footer{
  
    background-color: #353535;
    padding: 20px;
}

    footer img{
        width: 130px;
        padding: 0px;
        margin-left: 0px ;
        
        }
    footer a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: white;
            position: relative;
            font-family: "roboto";
 }
    footer a:hover{
            text-decoration: underline;
              
          }
          
    footer a .fas {
            width: 30px;
            position: relative;
          }

    

@media screen and ( min-width : 414.5px ){
    .NomDuPlats{
        font-size: 17px;
    }
    .DetaillesDuPlats{
        font-size: 14px;
    }


 /*---------Ici les regles pour le footer en mode tablete */    
 footer{ text-align: center; }
 footer img{
     width: 200px;
     padding: 0px;
     margin-left:0px ;
     
 }



}

@media screen and ( min-width : 800px ){
    .TypeeDePlats{
        width: 97%;
    }
    h1{
        padding-left: 7.5%;
    }


    /*---------Ici les regles pour le footer en mode pc */
    footer{ 
        display: flex;
        text-align: center; 
        justify-content: center;
        flex-direction: row;
        height: 80px;
    }

    footer img{
        position: absolute;
        float: left;
        margin-top:0px ;
        width: 130px;
        height: 20px;
        padding: 0px;
    }

    footer a{
        top: 30px;
        margin-left: 40px;
    }


}

@media screen and ( min-width : 1024px ){
    .GenresDePlats{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .GenresDePlatsEnfant{
            width: 300px;
            flex-wrap: wrap;
        }

        .NomDuPlats{
            font-size: 16px;
        }
        .DetaillesDuPlats{
            font-size: 12px;
        }
    }



     /*---------Ici les regles pour le footer en mode pc */
     footer{ 
        display: flex;
        text-align: center; 
        justify-content: center;
        flex-direction: row;
        height: 80px;
    }

    footer img{
        position: absolute;
        float: left;
        margin-top:0px ;
        width: 130px;
        height: 20px;
        padding: 0px;
    }

    footer a{
        top: 30px;
        margin-left: 40px;
    }
}