@charset "UTF-8";
/*Body ----------------------------------------*/
body {
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

.bloc_page {
  display: none;
  display: block;
}

.animationZ {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 378%;
  background-color: #f1f1f1;
  animation: 2s  transitionIn;
  -webkit-animation: 2s  transitionIn;
  -webkit-animation-fill-mode: forwards;
}

/*Animation fade in ----------------------------*/
@-webkit-keyframes transitionIn {
  0% {
    opacity: 1;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
  }
  77% {
    opacity: 1;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    display: none;
  }
}
@keyframes transitionIn {
  0% {
    opacity: 1;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
  }
  77% {
    opacity: 1;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    display: none;
  }
}

/* Section heander logo du site*/
header {
  background-color: #ffffff;
  -webkit-box-shadow: #c7c7c7 0px 5px 10px 0px;
          box-shadow: #c7c7c7 0px 5px 10px 0px;
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header img {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 0px;
  font-weight: 700;
}

/*box1 = section localisation*/
.box1 {
  background-color: #EAEAEA;
  padding: 10px;
  margin-top: 0px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.box1 .fas {
  position: absolute;
  right: 75%;
  font-size: 20px;
}

.box1 p {
  color: black;
  padding: 10px;
  top: 0px;
  font-size: 20px;
}

/*box2 = section explorer, contien le bouton Explorer nos restaurants*/
.box2 {
  background-color: #F6F6F6;
  height: 40vh;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.box2 h1 {
  color: black;
  font-weight: 700;
  padding-bottom: 0px;
  margin-top: 0px;
  font-size: 140%;
  width: 70%;
}

.box2 p {
  color: #6e6e6e;
  margin-top: 0px;
  padding: 0px;
  width: 90%;
}

.box2 #bouton-explorer {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 15px;
  border-radius: 30px;
  width: 55%;
  -webkit-box-shadow: #aaaaaa 0px 5px 5px 0px;
          box-shadow: #aaaaaa 0px 5px 5px 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff7ad9));
  background-image: linear-gradient(to top, #9356dc, #ff7ad9);
}

/*box3 = Section fontion, contien toutes les 3 fonction du site*/
.box3 {
  background-color: #ffffff;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.box3 h2 {
  right: 18%;
  position: relative;
}

.box3 .box3E {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  width: 85%;
  height: 70px;
  padding: 0px;
  margin: 15px;
  overflow: hidden;
  -webkit-box-shadow: #e0e0e0 0px 5px 5px 0px;
          box-shadow: #e0e0e0 0px 5px 5px 0px;
  background-color: #f7f7f7;
}

.box3E a {
  text-decoration: none;
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 30px;
  left: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.box3E:hover a {
  background-color: #9256dc21;
}

.box3E #fasmobile {
  position: absolute;
  float: left;
  right: 80%;
  color: #808080;
  font-size: 19px;
}

.box3E:hover #fasmobile {
  color: #9356DC;
}

.box3E #faslarge {
  position: absolute;
  float: left;
  right: 78%;
  color: #808080;
  font-size: 19px;
}

.box3E:hover #faslarge {
  color: #9356DC;
}

.numero_de_liste {
  position: absolute;
  float: left;
  right: 89%;
  color: #ffffff;
  padding: 3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #9356DC;
}

/*box4 section plats; ils contiens les differents plats*/
.box4 {
  width: 100%;
  background-color: #F6F6F6;
  /*@include FlexCenter()*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box4 .titre_restaurants {
  right: 23%;
  position: relative;
}

.box4E {
  text-decoration: none;
  background-color: #ffffff;
  width: 90%;
  height: 230px;
  margin-top: 10px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: #e0e0e0 5px 5px 5px;
          box-shadow: #e0e0e0 5px 5px 5px;
  overflow: hidden;
}

.box4E figure {
  width: 100%;
  height: 70%;
  padding: 0px;
  margin: 0px;
}

.box4E figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.box4E figure p {
  float: right;
  right: 5%;
  text-align: center;
  background-color: #99E2D0;
  color: #33977e;
  border-radius: 2px;
  -webkit-box-shadow: #252424 2px 2px 2px;
          box-shadow: #252424 2px 2px 2px;
  width: 80px;
  height: 25px;
  padding-top: 10px;
  position: relative;
  bottom: 170px;
  font-size: 14px;
}

.box4E div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  color: black;
  height: auto;
}

.box4E div h2 {
  font-size: 140%;
  padding-top: 8px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.box4E div p {
  color: #000000;
  margin-top: 0px;
  font-size: 19px;
}

.box4 .BoxIcone {
  left: 30%;
  position: relative;
}

.box4 .far {
  width: auto;
  height: auto;
  color: #535353;
  position: relative;
  bottom: 55px;
  font-size: 24px;
}

/*fas -------------------*/
.box4 .BoxIcone .fas {
  display: none;
}

.box4 .BoxIcone:hover .fas {
  display: block;
}

.box4 .BoxIcone .far {
  display: block;
}

.box4 .BoxIcone:hover .far {
  display: none;
}

.box4 .fas {
  width: auto;
  height: auto;
  position: relative;
  bottom: 55px;
  font-size: 24px;
  /* ici j'ai creer un dégradé en utilisent le (-webkit-background-clip: text;)*/
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff7ad9));
  background: linear-gradient(to top, #9356dc, #ff7ad9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/*ci-desous le footer du site----------------------------*/
footer {
  background-color: #353535;
  padding: 20px;
}

footer img {
  width: 40%;
  padding: 0px;
  margin-left: 0px;
}

footer p {
  color: white;
  position: relative;
}

footer p .fas {
  width: 10%;
  position: relative;
}
/*# sourceMappingURL=mobile.css.map */