@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


/*Body ----------------------------------------*/
body{
    padding: 0%;
    margin: 0%;
}
/* Section heander logo du site*/
header{
    background-color: #ffffff;
    box-shadow: rgb(199, 199, 199) 0px 5px 10px 0px;
    width: 100%;
    height: auto;
    position: relative;
        @include FlexCenter;
}
        header img{
        width: 50%;
        padding-top: 20px;
        padding-bottom:15px ;
        margin-left:0px ;
        font-weight: 700

        }    
  

/*box1 = section localisation*/

.box1{
    background-color:#EAEAEA;
    padding: 0px;
    margin-top: 0px;
    height: 40px;
    @include FlexCenter;
}
    
    .box1 i{
        color: #353535;
    }
    .box1 p{
    color: black;
    }


/*box2 = section explorer, contien le bouton Explorer nos restaurants*/
.box2{
    background-color: #F6F6F6;
    height: 40vh;
    padding-top: 0px;
        @include FlexCenter;
}
    
    .box2 h1{
        color: black;
        padding-bottom: 0px;
        margin-top: 0px;
        font-size: 140%;
        width: 70%;
    }

    .box2 p{
        color: black;
        margin-top: 0px;
        padding: 0px;
        width: 80%;
    }

    .box2 #bouton-explorer{
        
        text-decoration: none;
        color: #ffffff;
        padding: 15px;
        border-radius: 30px;
        width: 60%;
        box-shadow: rgb(170, 170, 170) 0px 5px 5px 0px;
        background-image: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
    }
/*box3 = Section fontion, contien toutes les 3 fonction du site*/
.box3{
    background-color: #ffffff;
        height: 300px;
        @include FlexCenter;
}
    
    
    .box3 .boxE{
        margin-top: 10px;
        border-radius: 15px;
        width: 90%;
        height: 50px;
        padding: 0px;
        box-shadow: rgb(170, 170, 170) 0px 5px 5px 0px;
        background-color: #f7f7f7;
    }
    .box3 a{
        text-decoration: none;
        color: #000000;
        height: 100%;
        padding: 20px;
        text-align:  center;
    }


/*box4 section plats; ils contiens les differents plats*/
.box4{
    
    width: 100%;
    background-color: rgb(187, 187, 187);
        /*@include FlexCenter()*/

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
}
.box4 .titre_restaurants{
    padding-left: 20px;
}
.box4E{
   text-decoration: none;
    background-color: #ffffff;
    width: 90%;
    height: 230px;
    
    margin: 10px;
    border-radius: 20px;
    box-shadow: gray 5px 5px 5px  ;
    overflow: hidden;
}
    .box4E figure{
        width: 100%;
        height: 70%;
        padding: 0px;
        margin: 0px;

    }

        .box4E figure img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            
        }

        .box4E figure p{
            float: right;
            right: 5%;
            text-align: center;
            background-color:#99E2D0;
            color: #33977e;
            border-radius: 2px;
            box-shadow: rgb(37, 36, 36) 2px 2px 2px  ;
            width: 80px;
            height: 25px;
            padding-top: 10px;
            position: relative;
            bottom: 170px;
            font-size: 14px;
        }
figcaption{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
    color: black;
    height: auto;
    
}
    figcaption h2{
        font-size: 140%;
        padding-top: 8px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    figcaption p{
        color: #000000;
        margin-top: 0px;
        font-size: 19px;
    }
    .box4 .far{
        
        float: right;
        left: 30%;
        width: auto;
        height: auto;
        color: #000;
        position: relative;
        bottom: 55px;
        font-size: 24px;
       
    }
    .box4 .far:hover{
        background-image: linear-gradient(to top, rgb(147, 86, 220, ),rgb(255, 122, 217));
    }



/*ci-desous le footer du site----------------------------*/
footer{
    background-color: #353535;
    padding: 20px;
}

    footer img{
        width: 40%;
        padding: 0px;
        margin-left:0px ;
        font-weight: 700;
        

        }
    p{
        color: rgb(255, 255, 255);
    }